body{
    height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(#442037, #2D2B49, #1E0F3C);
    background-size: cover;
    background-position: center;
    font-family: 'Inika', sans-serif;
}

.header {
    left: 250px;
    top: 176px;
    position: absolute;
    color: white;
    font-size: 65px;
    font-weight: 400;
    word-break: break-word;
    display: block;
}
.line {
    width: 4px;
    height: 180px;
    left: 917px;
    top: 97px;
    position: absolute;
    background-color: #D9D9D9;
    display: block;
}

.up {
    left: 932px;
    top: 86px;
    position: absolute;
    color: #FF9234;
    font-size: 90px;
    font-weight: 400;
    word-wrap: break-word;
}

.down {
    left: 932px;
    top: 160px;
    position: absolute;
    color: #FF9234;
    font-size: 90px;
    font-weight: 400;
    word-wrap: break-word;
}

.rectangle1 {
    width: 906px;
    height: 144px;
    left: 267px;
    top: 313px;
    position: absolute;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rectangle2 {
    width: 906px;
    height: 144px;
    left: 267px;
    top: 487px;
    position: absolute;
    background: white;
}
.rectangle3 {
    width: 906px;
    height: 144px;
    left: 267px;
    top: 661px;
    position: absolute;
    background: white;
}
.rectangle4 {
    width: 906px;
    height: 144px;
    left: 267px;
    top: 835px;
    position: absolute;
    background: white;
}
.squ1 {
    width: 163px;
    height: 144px;
    left: 267px;
    top: 313px;
    position: absolute;
    background: #35D0BA;
}
.squ1 .rec-date1 {
    position: absolute;
    color: white;
    font-size: 90px;
    font-weight: 400;
    top: 35%; 
    left: 50%; 
    transform: translate(-55%, -50%);
}
.squ2 {
    width: 163px;
    height: 144px;
    left: 267px;
    top: 487px;
    position: absolute;
    background: #FFA901;
}
.squ2 .rec-date2 {
    position: absolute;
    color: white;
    font-size: 90px;
    font-weight: 400;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.squ3 {
    width: 163px;
    height: 144px;
    left: 267px;
    top: 661px;
    position: absolute;
    background: #35D0BA;
}
.squ3 .rec-date3 {
    position: absolute;
    color: white;
    font-size: 90px;
    font-weight: 400;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.squ4 {
    width: 163px;
    height: 144px;
    left: 267px;
    top: 835px;
    position: absolute;
    background: #FFA901;
}
.squ4 .rec-date4 {
    position: absolute;
    color: white;
    font-size: 90px;
    font-weight: 400;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.month {
    position: absolute;
    color: white;
    font-size: 33px;
    font-weight: 400;
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.rectangle1 .event-title {
    position: absolute;
    color: #233142;
    font-size: 40px;
    font-weight: 400;
    top: 28%; 
    left: 33%; 
    transform: translate(-55%, -50%);
}
.rectangle2 .event-title {
    position: absolute;
    color: #233142;
    font-size: 40px;
    font-weight: 400;
    top: 28%; 
    left: 42%; 
    transform: translate(-55%, -50%);
}
.rectangle3 .event-title {
    position: absolute;
    color: #233142;
    font-size: 37px;
    font-weight: 400;
    top: 28%; 
    left: 47%; 
    transform: translate(-55%, -50%);
}
.rectangle4 .event-title {
    position: absolute;
    color: #233142;
    font-size: 40px;
    font-weight: 400;
    top: 28%; 
    left: 45%; 
    transform: translate(-55%, -50%);
}
.location {
    position: absolute;
    color: #233142;
    font-size: 21px;
    font-weight: 400;
    top: 70%; 
    left: 33%; 
    transform: translate(-55%, -50%);
}
.female {
    position: absolute;
    color: #233142;
    font-size: 21px;
    font-weight: 400;
    top: 70%; 
    left: 55%; 
    transform: translate(-55%, -50%);
}
.male {
    position: absolute;
    color: #233142;
    font-size: 21px;
    font-weight: 400;
    top: 70%; 
    left: 65%; 
    transform: translate(-55%, -50%);
}
.child {
    position: absolute;
    color: #233142;
    font-size: 21px;
    font-weight: 400;
    top: 70%; 
    left: 75%; 
    transform: translate(-55%, -50%);
}
.social {
    position: absolute;
    color: #233142;
    font-size: 21px;
    font-weight: 400;
    top: 50%; 
    left: 95%; 
    transform: translate(-55%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.social i:hover {
    color: #FF9234;
    box-shadow: 0 0 10px #FFA901;
}