*{
margin:0;
padding:0;
box-sizing: border-box;

}

body{
    height: 100vh;
    background-image:url('../Media/Background.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
    font-size:1rem;
}

a:hover{
    background-color: #FFCD3C;
    border-radius:20px;
}

/* styling the header*/

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height:60px;
    max-width:1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .pages{
    display:flex;
    gap:2rem;
}

.navbar .btn{
    color:white;
    font-size:1.5rem;
    cursor:pointer;
    display:none;
}

.register{
    background-color: #FFCD3C;
    color:white;
    padding:0.5rem 1rem;
    border:none;
    outline:none;
    border-radius:20px;
    font-size:0.8rem;
    font-weight:bold;
    cursor:pointer;
    transition:scale 0.2 ease;
}

.register:hover{
    scale:1.05;
    color:white;

}

.register:active{
    scale:0.95;
}

/*dropDown menu */ 
.dropdown-menu{
    display: none;
    position: absolute;
    right:2rem;
    top:60px;
    width: 300px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter:blur(15px);
    border-radius:10px;
    overflow: hidden;
    transition:height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)

}

.dropdown-menu.open{
height:240px;
display: none;

}

.dropdown-menu li{
   padding:0.7rem;
   display:flex;
   align-items: center;
   justify-content: center;
}

.dropdown-menu .register{
    width: 100px;
    display:flex;
    justify-content: center;
}

#information{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align:center;
    color:white;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;

}

#information h1{
    font-size:3rem;
    margin: bottom 1rem;

}

/* RESPONSIVE DESIGN*/

@media(max-width:992px){
    .navbar .register,
    .navbar .pages{
    display:none;
    }
.navbar .btn{
    display:block;

}
.dropdown-menu{
    display:block;
}
}

@media(max-width:576px){

    .dropdown-menu{
        left:2rem;
        width:unset;
    }

}


footer a {
    margin-right: 5px;
}

#copyright {
    margin-top: 50px;
}

footer {
    display: block;
    background-color: #233142;
    color: whitesmoke;
    font-size: small;
    text-align: center;
    padding: 50px;
    margin-top: 500px;
    
}